# Environment variables
.env
echo ".env" >> .gitignore
git rm --cached .env
git commit -m "Stop tracking .env file"


# Node modules
node_modules/

# macOS system file
.DS_Store

# npm debug logs
npm-debug.log
